In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

A company started to invest in digital marketing as a new way of their productpromotions.For that they collected data and decided to carry out a study on it.
● The company wishes to clarify whether there is any increase in sales after
stepping into digital marketing.
● The company needs to check whether there is any dependency between the
features “Region” and “Manager”.

In [24]:
filename='C:/Users/HP/Downloads/Sales_add.csv'
df=pd.read_csv(filename)
df

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [25]:
## checking for any null values
df.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [26]:
df[['Sales_before_digital_add(in $)','Sales_After_digital_add(in $)']].describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

Average for sales after add is more than sales before add

# The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [9]:
sale_before=df['Sales_before_digital_add(in $)']
sale_before

0     132921
1     149559
2     146278
3     152167
4     159525
5     137163
6     130625
7     131140
8     171259
9     141956
10    159339
11    178939
12    145062
13    151514
14    147463
15    177195
16    140862
17    167996
18    132135
19    152493
20    147425
21    130263
Name: Sales_before_digital_add(in $), dtype: int64

In [11]:
sale_after=df['Sales_After_digital_add(in $)']
sale_after

0     270390
1     223334
2     244243
3     231808
4     258402
5     256948
6     222106
7     230637
8     226261
9     193735
10    203175
11    276279
12    205180
13    253131
14    229336
15    187305
16    234908
17    191517
18    227040
19    212579
20    263388
21    243020
Name: Sales_After_digital_add(in $), dtype: int64

In [15]:
import scipy
tvalue, pvalue = scipy.stats.ttest_rel(sale_after,sale_before,alternative='greater')

In [16]:
tvalue

12.09070525287017

In [17]:
pvalue

3.168333502287889e-11

In [18]:
if pvalue <0.05:
  print("We reject null hypothesis i.e. digital marketing has no impact on sale ")
else:
  print("We reject alternate hypothesis i.e. digital marketiing contribute on sale increase")

We reject null hypothesis i.e. digital marketing has no impact on sale

hypothesis testing shows that there is increase in sales after stepping into digital marketing

# The company needs to check whether there is any dependency between the features “Region” and “Manager”

In [19]:
con_data=pd.crosstab(df['Region'],df['Manager'],margins=False)
con_data

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [21]:
from scipy.stats import chi2_contingency
stst,pvalue,dof,exp=chi2_contingency(con_data) 
pvalue

0.5493991051158094

In [27]:
if pvalue <0.05:
  print("We reject null hypothesis i.e. Manger and Region is independant ")
else:
  print("We reject alternate hypothesis i.e. Manager and Region is dependant")

We reject alternate hypothesis i.e. Manager and Region is dependant

region and manager is independent